<html>

<head>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            background-image: url("{{ url_for('static', filename='argyle.jpg') }}");
        }

        td {
            vertical-align: top;
        }

        table {
            background-color: white;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='imac-trs01.gif') }}">
            </td>
            <td>
                <img src="{{ url_for('static', filename='logo.png') }}">
            </td>
            <td style="width: 256px">

            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <ul>
                        <li><a href="https://github.com/EHowardHill/Khap-Package-Manager">GitHub</a></li>
                        <li><a href="https://macintoshgarden.org/">Macintosh Garden</a></li>
                    </ul>
                </p>
            </td>
            <td>
                <p>
                    To install on your Macintosh, <b>run the following command:</b><br>
                </p>
                <p>
                    <tt>sudo /bin/bash -c "$(curl -s http://khap.live/static/install.sh)"</tt>
                </p>
                </p>
                <hr>
                <p>
                <h1>What is Khap?</h1>
                </p>
                <p>
                    Khap is a <b>proof-of-concept</b> package manager for legacy Mac OS 10.3.9 and
                    earlier. The goal is to support hardware that cannot support MacPorts or Homebrew.
                </p>
                <p>
                    For now, bash is the only requirement client-side. You will need Python 3 in order to use the
                    server-side application.
                </p>
                <hr>
                <p>
                <h1>How do I use it?</h1>
                <p>
                    khap must be run as the superuser.
                </p>

                <p>
                    On the client side, the Mac will be able to manage new software via the command line. Two commands
                    are supported for the time being:
                </p>

                <p>
                <ul>
                    <li><tt>khap update</tt> will update all installed packages on the system.</li>
                    <li><tt>khap install XXX</tt> will install a given package for your system.</li>
                    <li><tt>khap search XXX</tt> will search your available repositories for software. Leaving it blank
                        will return all available software for your system.</li>
                </ul>
                </p>

                <p>
                    Repositories are stored in /etc/khap.d/repos.
                </p>
                <hr>
                <center>
                    <p>
                        <span>&copy;</span>2023 "Cinemint" / Ethan Hill
                    </p>
                    <p>
                        Send me a Discord message at Cinemint#6298
                    </p>
                </center>
            </td>
        </tr>
    </table>
</body>

</html>